@charset "UTF-8";
/* MISC */
/* FUENTES */
/*fonts*/
.font-size__xxl {
  font-size: 50px; }

.font-size__title {
  font-size: 30px; }

.font-size__large {
  font-size: 25px; }

.font-size__medium {
  font-size: 20px; }

.font-size__small, .main-footer__business {
  font-size: 10px; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

.form-login-m {
  padding: 1rem;
  margin: 30rem auto 30rem auto;
  background-color: #E9C46A; }

a:hover {
  color: #2b2b2b; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem; }

ol, ul {
  padding-left: 0rem; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem; }

.container-fluid {
  overflow-x: hidden; }

.scrolls-indicator {
  margin-bottom: 50px; }

#carouselExampleIndicators {
  margin-top: 40px; }

/* PARTIALS */
.main-header__index {
  background-color: #FEC89A;
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .main-header__index h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    display: flex; }
  .main-header__index .main-logo__title {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: center; }
    .main-header__index .main-logo__title .main-header__logo {
      height: 9.3em;
      width: 9.3em;
      transition: all 1s; }
      .main-header__index .main-logo__title .main-header__logo:hover {
        height: 10em;
        width: 10em; }

.nav-end {
  display: flex; }
  .nav-end .header-nav {
    display: flex;
    width: 65vw;
    justify-content: space-between;
    height: 9.3rem;
    flex-wrap: wrap;
    margin-left: 2rem; }
    .nav-end .header-nav .shop-links {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-left: 8.9em; }
      .nav-end .header-nav .shop-links li {
        border-style: solid; }
      .nav-end .header-nav .shop-links .links-item__shop {
        margin: 0 7px; }
        .nav-end .header-nav .shop-links .links-item__shop .links-item__direct:hover {
          color: white;
          background-color: #2b2b2b;
          transition: all 2s; }
      .nav-end .header-nav .shop-links li:hover {
        border-style: none; }
    .nav-end .header-nav .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .nav-end .header-nav .nav-links li {
        border-style: solid; }
      .nav-end .header-nav .nav-links .links-item a:hover {
        background-color: #2b2b2b;
        color: white;
        transition: all 2s; }
      .nav-end .header-nav .nav-links li:hover {
        border-style: none; }
    .nav-end .header-nav #about-us__style {
      display: flex;
      align-items: center; }

.shop-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 8.9em; }

.main-header {
  background-color: #FEC89A;
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.main-header__view {
  background-color: #FEC89A;
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap; }

a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 0.7rem; }

.main-footer {
  height: 15.3rem;
  display: flex;
  background-color: #FCD5CE;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .main-footer .footer-menu {
    display: flex;
    width: 35rem;
    justify-content: space-around; }

.main-footer-view {
  height: 15.3rem;
  display: flex;
  background-color: #FCD5CE;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .main-footer-view.footer-view {
    display: flex;
    justify-content: space-around;
    width: 400px; }
  .main-footer-view.footer-menu {
    display: flex;
    width: 35rem;
    justify-content: space-around; }

.footer-menu {
  display: flex;
  width: 35rem;
  justify-content: space-around; }

/* VIEWS */
#shop-links__photos {
  margin-top: 300px; }
  #shop-links__photos .photos-men {
    grid-area: hombres; }
  #shop-links__photos .photos-women {
    grid-area: mujeres; }
  #shop-links__photos .photos-kids {
    grid-area: niños; }

#section-about-us {
  gap: 15px;
  margin: 20rem auto 15rem auto; }

.video-principal__propiedades {
  height: 400px;
  width: 100vw; }

.h2-question {
  justify-self: center;
  font-size: 50px;
  background-color: #F4A261; }

.h2-answer {
  font-size: 35px;
  background-color: #E9C46A; }

.aditional-info {
  font-size: 30px;
  background-color: #2A9D8F; }

.form-consultas__size {
  margin-top: 500px;
  margin-bottom: 500px; }

@media (max-width: 1252px) {
  .photo-size-h {
    width: 40vw; }
  .photo-size-v {
    width: 90vw; } }

@media (max-width: 1065px) {
  .main-header__index .header-nav {
    justify-content: flex-end; } }

@media (max-width: 801px) {
  .main-header__index .main-logo__title {
    justify-content: space-around; }
  .main-header__index .header-nav {
    justify-content: center;
    gap: 10px; }
  .nav-end .header-nav .shop-links {
    align-items: center; }
  .nav-end .header-nav .nav-links {
    justify-content: flex-start; }
  .nav-end .header-nav .shop-links {
    margin-left: 0; }
  .h2-question {
    justify-self: center;
    font-size: 40px;
    grid-area: question; }
  .h2-answer {
    font-size: 25px;
    grid-area: answer; }
  .aditional-info {
    font-size: 20px;
    grid-area: aditional; } }

@media (max-width: 655px) {
  .main-header__index .header-nav {
    gap: 0;
    justify-content: space-evenly; } }

@media (max-width: 641px) {
  .main-header__index .header-nav {
    gap: 10px;
    justify-content: space-around; }
  .main-header__index .main-logo__title {
    margin-bottom: 10px; } }

@media (max-width: 519px) {
  .nav-end {
    height: 15rem; }
  .h2-question {
    align-self: end;
    justify-self: center;
    font-size: 30px;
    grid-area: question; }
  .h2-answer {
    font-size: 25px;
    grid-area: answer; }
  .aditional-info {
    font-size: 20px;
    grid-area: aditional; }
  .form-consultas h1 {
    font-size: 30px; }
  .login p {
    font-size: 20px; }
  .login {
    width: 100vw; }
  .form-login form {
    width: 100vw; }
  .form-login a {
    width: 100vw; }
  .main-header {
    padding: 0; } }

@media (max-width: 400px) {
  .main-header__index .main-logo__title {
    width: 360px;
    justify-content: space-around;
    margin-bottom: 5px; }
  .main-header__index .header-nav {
    justify-content: center;
    width: 254px;
    height: 150px;
    justify-items: center; }
  .nav-end {
    width: 360px; }
  h1 .text-title {
    font-size: 20px; }
  .main-header__view {
    padding: 1.5rem 0; } }
