@charset "UTF-8";
/* MISC */
/* PARTIALS */
.main-header__index {
  background-color: #FEC89A;
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .main-header__index h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    display: flex; }
  .main-header__index .main-logo__title {
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: center; }
    .main-header__index .main-logo__title .main-header__logo {
      height: 9.3em;
      width: 9.3em;
      transition: all 1s; }
      .main-header__index .main-logo__title .main-header__logo:hover {
        height: 10em;
        width: 10em; }

.nav-end {
  display: flex; }
  .nav-end .header-nav {
    display: flex;
    width: 65vw;
    justify-content: space-between;
    height: 9.3rem;
    flex-wrap: wrap;
    margin-left: 2rem; }
    .nav-end .header-nav .shop-links {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-left: 8.9em; }
      .nav-end .header-nav .shop-links li {
        border-style: solid; }
      .nav-end .header-nav .shop-links .links-item__shop {
        margin: 0 7px; }
        .nav-end .header-nav .shop-links .links-item__shop .links-item__direct:hover {
          color: white;
          background-color: #2b2b2b;
          transition: all 2s; }
      .nav-end .header-nav .shop-links li:hover {
        border-style: none; }
    .nav-end .header-nav .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .nav-end .header-nav .nav-links li {
        border-style: solid; }
      .nav-end .header-nav .nav-links .links-item a:hover {
        background-color: #2b2b2b;
        color: white;
        transition: all 2s; }
      .nav-end .header-nav .nav-links li:hover {
        border-style: none; }
    .nav-end .header-nav #about-us__style {
      display: flex;
      align-items: center; }

.main-header {
  background-color: #FEC89A;
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.main-header__view {
  background-color: #FEC89A;
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap; }

a {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 0.7rem; }

.main-footer {
  height: 15.3rem;
  display: flex;
  background-color: #FCD5CE;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .main-footer .footer-menu {
    display: flex;
    width: 35rem;
    justify-content: space-around; }

.main-footer-view {
  height: 15.3rem;
  display: flex;
  background-color: #FCD5CE;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .main-footer-view .footer-view {
    display: flex;
    justify-content: space-around;
    width: 400px; }

/* VIEWS */
#shop-links__photos {
  margin-top: 300px; }
  #shop-links__photos .photos-men {
    grid-area: hombres; }
  #shop-links__photos .photos-women {
    grid-area: mujeres; }
  #shop-links__photos .photos-kids {
    grid-area: niños;
    justify-self: center; }

#section-about-us {
  gap: 15px;
  margin: 20rem auto 15rem auto; }

.form-consultas__size {
  margin-top: 500px;
  margin-bottom: 500px; }

.video-principal__propiedades {
  height: 400px;
  width: 100vw; }

.h2-question {
  justify-self: center;
  font-size: 50px; }

.h2-answer {
  font-size: 35px; }

.aditional-info {
  font-size: 30px; }
