<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <title>Contactános</title>
</head>
<body class="body-style">
    <header class="main-header">
        <nav class="main-header__view">
            <ul class="shop-links">
                <li class="links-item">
                    <a href="../index.html">Inicio</a>
                </li>
                <li class="links-item">
                    <a href="./shop.html">Compras</a>
                </li>
                <li class="links-item">
                    <a href="./login.html">Iniciar Sesión</a>
                </li>
                <li class="links-item">
                    <a href="./help.html">Ayuda</a>
                </li>
            </ul>
        </nav>
    </header> 
    <main class="container">
        <div class="card form-login-m">
            <img src="../images/servicio-al-cliente-e1565299571335.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Contactános</h5>
              <p class="card-text">Abajo te ofrecemos dos maneras en las que te podes comunicar con nosotros, no olvides que tambien tenemos la sección de consultas en la cual tambien nos podes escribir!.</p>
              <div class="list-group">
                <a href="https://www.google.com/intl/es-419/gmail/about/" class="list-group-item list-group-item-action" aria-current="true">
                  ¡Clickea acá y envianos tu consulta a nuestro Gmail!
                </a>
                <a href="https://faq.whatsapp.com/452366545421244/?locale=es_ES" class="list-group-item list-group-item-action">¡O apreta acá y mandanos un Whatsapp!</a>
              </div>
              <a href="../index.html" class="btn btn-primary">Volver al inicio</a>
            </div>
          </div>
    </main>
    <footer class="main-footer-view" data-aos="fade-up">
        <nav class="footer-view">
            <ul class="footer-menu">
                <li class="footer-menu__item footer-contact">
                    <a href="./help.html">Ayuda</a>
                </li>
                <li class="footer-menu__item footer-login">
                    <a href="./login.html">Iniciar Sesión</a>
                </li>
                <li class="footer-menu__item footer-help">
                    <a href="../index.html">Inicio</a>
                </li>
            </ul>
        </nav>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>