<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <title>Ayuda</title>
</head>
<body class="container-fluid">
    <header class="main-header">
        <nav class="main-header__view">
            <ul class="shop-links">
                <li class="links-item">
                    <a href="../index.html">Inicio</a>
                </li>
                <li class="links-item">
                    <a href="./shop.html">Compras</a>
                </li>
                <li class="links-item">
                    <a href="./login.html">Iniciar Sesión</a>
                </li>
                <li class="links-item">
                    <a href="./contact.html">Contactános</a>
                </li>
            </ul>
        </nav>
    </header> 
    <main class="container" data-aos="zoom-in">
        <div class="form-login-m">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Cuenta Email (a donde responderemos)</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ej:correo@gmail.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Pone tu consulta acá! lo antes posible vas a recibir una respuesta de nuestro equipo.</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div>
                <button type="button" class="btn btn-primary">Enviar Consulta!</button>
            </div>
        </div>
    </main>
    <footer class="main-footer-view" data-aos="fade-up">
        <nav class="footer-view">
            <ul class="footer-menu">
                <li class="footer-menu__item footer-contact">
                    <a href="./contact.html">Contactános</a>
                </li>
                <li class="footer-menu__item footer-login">
                    <a href="./login.html">Iniciar Sesión</a>
                </li>
                <li class="footer-menu__item footer-help">
                    <a href="../index.html">Inicio</a>
                </li>
            </ul>
        </nav>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
    <script src="../js/bootstrap.min.js"></script>
</body>
</html>