<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Acceso</title>
</head>
<body class="body-style">
    <header class="main-header">
        <nav class="main-header__view">
            <ul class="shop-links">
                <li class="links-item">
                    <a href="../index.html">Inicio</a>
                </li>
                <li class="links-item">
                    <a href="./shop.html">Compras</a>
                </li>
                <li class="links-item">
                    <a href="./help.html">Ayuda</a>
                </li>
                <li class="links-item">
                    <a href="./contact.html">Contactános</a>
                </li>
            </ul>
        </nav>
    </header> 
    <main class="form-consultas">
        <section class="form-login">
            <h1 class="login">
                <p>Iniciar Sesión/Registrarse</p>
            </h1>
            <form action="loginpepe.html" method="get" enctype="" class="name">
                    <label for="Nombre">Nombre</label>
                    <input type="text" name="Nombre" id="" required placeholder="Nombre">
                    <label for="Contraseña">Contraseña</label>
                    <input type="text" name="Contraseña" id="" required placeholder="Contraseña">
            </form>
            <a href="" class="forgot">Olvidaste tu contraseña?</a>
            <form action="loginpepe.html" method="get" enctype="" class="login-register">
                    <button type="submit">Iniciar Sesión</button>
                    <button type="submit">Registrarse</button>
            </form>
        </section>
    </main>
    <footer class="main-footer-view">
        <nav class="footer-view">
            <ul class="footer-menu">
                <li class="footer-menu__item footer-contact">
                    <a href="./views/contact.html">Contactános</a>
                </li>
                <li class="footer-menu__item footer-login">
                    <a href="./views/help.html">Ayuda</a>
                </li>
                <li class="footer-menu__item footer-help">
                    <a href="../index.html">Inicio</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>