<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Compras</title>
</head>
<body class="body-style">
    <header class="main-header">
        <nav class="main-header__view">
            <ul class="shop-links">
                <li class="links-item">
                    <a href="../index.html">Inicio</a>
                </li>
                <li class="links-item">
                    <a href="./help.html">Ayuda</a>
                </li>
                <li class="links-item">
                    <a href="./login.html">Iniciar Sesión</a>
                </li>
                <li class="links-item">
                    <a href="./contact.html">Contactános</a>
                </li>
            </ul>
        </nav>
    </header> 
    <section class="shop-scroll">
        <article id="men-section" class="shop-articles__modify">scroll hombre</article>
        <article id="women-section" class="shop-articles__modify">scroll mujer</article>
        <article id="kids-section" class="shop-articles__modify">scroll niños</article>
    </section>
    <footer class="main-footer-view">
        <nav class="footer-view">
            <ul class="footer-menu">
                <li class="footer-menu__item footer-contact">
                    <a href="./views/contact.html">Contactános</a>
                </li>
                <li class="footer-menu__item footer-login">
                    <a href="./views/login.html">Iniciar Sesión</a>
                </li>
                <li class="footer-menu__item footer-help">
                    <a href="../index.html">Inicio</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>