.container-text__shop{
    color: $secondary;
    font-family: 'Roboto', sans-serif;
}
.h2-shop{
    background:rgba(1,1,1,0.5);
    margin: 1rem 0 1rem 0;
}
#carouselExampleIndicators-2{
    margin-bottom: 1rem;
}
